body {
    margin: 0;
    font-family: Tahoma;
    position: relative;
    height: 100vh;
    white-space: nowrap; 
}


.box {
    width: 100px;
    height: 150px;
    font-size: 40px;
    text-align: center;
    line-height: 150px;
    background-color: #eeeff2;
    border-left: 10px dotted #D0D0FF;
    display: inline-block;
    margin-right: 10px;
}


.box:hover {
    background-color: yellow;
    color: goldenrod;
    cursor: pointer;
}


.special {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
}