body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    background-color: #dfe1e7;
    border-top: 1px solid #687291;
    margin: 20px 0; 
}


.box:nth-child(even) {
    background-color: #eeeff2;
}


.special {
    background-color: #687291;
    border: 4px solid black;
    color: white;
    line-height: 100px;
}
